@page "/"
@inject IJSRuntime JsRuntime;
@using ChessWasm.Models;
@using ChessWasm.Services;
@using ChessWasm.Shared;

<div class="main">
    <button class="btn btn-success btn-start" @onclick="StartGame">New Game</button>

    <div class="boards">
        <div class="main-board">
            <ChessBoard /> 
        </div>
        <div class="bitboards">
            <BitBoard Image="Rook_white" @bind-Bits="@(board.WRooks)" />
            <BitBoard Image="Rook_black" @bind-Bits="@(board.BRooks)" />
            <BitBoard Image="Knight_white" @bind-Bits="@(board.WKnights)" />
            <BitBoard Image="Knight_black" @bind-Bits="@(board.BKnights)" />
            <BitBoard Image="Bishop_white" @bind-Bits="@(board.WBishops)" />
            <BitBoard Image="Bishop_black" @bind-Bits="@(board.BBishops)" />
            <BitBoard Image="Queen_white" @bind-Bits="@(board.WQueen)" />
            <BitBoard Image="Queen_black" @bind-Bits="@(board.BQueen)" />
            <BitBoard Image="King_white" @bind-Bits="@(board.WKing)" />
            <BitBoard Image="King_black" @bind-Bits="@(board.BKing)" />
            <BitBoard Image="Pawn_white" @bind-Bits="@(board.WPawns)" />
            <BitBoard Image="Pawn_black" @bind-Bits="@(board.BPawns)" />
        </div>
    </div>
</div>

@code {
    Board board = new Board();
    private void StartGame()
    {
        GameService.StartGame();
        board = GameService.CurrentGame.Board;
        GameService.BoardChanged += UpdateBoard;
        MagicService.Initialize();
    }

    private void UpdateBoard(Board board)
    {
        this.StateHasChanged();
    }
}
